/*	------------------------- colors ---------------------------
  deep blue : #002d56;
  navy blue : #011e39;
  light blue : #bfcad5;
  grey : #959599;
  darker_grey: #555560;
  dark_grey : #252530;
  green : #005826;
*/
/*	------------------------- container ------------------------
  i absolutly position the container in the center rather then having it be centered
  using a margin: auto beacuse the div is floated to the left already, to fit with my
  framework for easy float clearing and broweser compatibitliy, and when i absolutly 
  position anything else, they will all nicely be centerd in the content as well... the only negitive 
  caviaut is that if the browser window is shrunk to a width smaller then the width
  of this containing element, the left side will be unviewable.. even upon scrolling..
  but this has an easy fix with javascript..
*/


/*
#container, #jax_container {
  width: 900px;
  overflow: visible;
  left:50%;
  margin-left: -470px;
}

#full_screen {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#jax_container {
  position: absolute;
  z-index: 50;
}

/*	------------------------- logo style ------------------------
  i use an image inside of the h1 tag so that it will show up when it is printed..
  background-images don't show up when printed..
*/

/*
#header h1 {
  float: left;
  position: relative;
  height: 79px;
  width: 161px;
  text-indent: -1000px;
  z-index: 0;
  margin-top: -5px;
}
#header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#header h1 a img {
  position: absolute;
  top: 0;
  left: 0;
}
/*	------------------------- navigation ------------------------
  i started using lists again i think.. it tecnicaly makes more sense as when you have sub navigation due to 
  the navigation elements now have more proper binding, rather then a loose binding
  
  * archive: i quit using lists for navigations.. i guess technicaly they are still a list of pages in which
  you can accsess.. but it's something i'm currently trying..
*/

/*
.navi {
  position: relative;
  display: block;
  float: left;
}
.navi li {
  display: block;
  float: left;
}
.navi a {
  display: block;
  position: relative;
}
ul.navi.primary {
  float: right;
  clear: right;
  margin: 20px -10px 0 0;
  min-width: 65.5em;
}
ul.navi.primary li {
}
ul.navi.primary li a {
  padding: 5px 10px;
  margin: 2px 0 0 0;
  font-size:1.4em;
  font-weight: bold;
  color: #252530;
  text-transform: uppercase;
  border: 1px solid #fff;
  white-space: nowrap;
}
ul.navi.primary li a:hover, ul.navi.primary li a.active {
	background-color: #bfcad5;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color: #002d56;
}
ul.navi.account {
  float: right;
  margin-top: -50px;
  margin-right: -10px;
  font-family: Arial, sans-serif;
}
ul.navi.account li {
  float:right;
}
ul.navi.account li a {
  text-align: right;
  padding: 1px 10px 2px 10px;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  opacity: .7;
}
ul.navi.account li a:hover {
  opacity: 1;
}
ul.navi.account li a.active {
  text-decoration: underline;
  opacity: 1;
}
#header {
  width: 100%;
}
#content {
  width: 100%;
  padding-top: 10px;
}
#footer {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 1.1em;
  color: #959599;
}
#gallery {
  cursor: pointer;
}
.gallery {
  width: 100%;
  border: 0 solid #005826;
  border-width: 10px 0;
  overflow: hidden;
  margin-bottom: 20px;
  height: 270px;
}
.gallery h6.subtitle {
  background-color: #005826;
	top: 0;
	color: #fff;
	display: block;
	margin: 0;
	opacity: 0.2;
	padding-top: 3px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}
.content .gallery {
  width: 860px;;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.gallery .holder {
  min-width: 50000px;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.gallery .basin img {
  float: left;
}
.gallery img.slider {
  position: absolute;
  top: 75px;
  opacity : .5;
  cursor: pointer;
}
.gallery img.slider.disabled {
  opacity : .2 !important;
  cursor: default;
}

.gallery img.slider.left {
  left: 0;
}
.gallery img.slider.right {
  right: 0;
}
.callout {
  background: transparent url(../images/background/callout.png) no-repeat scroll 50% 0;
}
.callout h3 {
  font-size: 2.2em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555560;
  white-space: nowrap;
}
.callout p {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
}
.callout strong {
  font-weight: bold;
  color: #252530;
  text-transform: uppercase;
}
hr {
  border-bottom: 1px solid #c2c2cc;
  border-top: 1px solid #fff;
}
a.button {
  display: block;
  text-align: center;
  height: 31px;
  width: 82px;
  margin-top: 10px;
  margin-left: -3px;
  font-size: 1.1em;
  background: transparent url(../images/icons/buttons/blue_button.png) no-repeat scroll 50% 0;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 2.3em;
  text-transform: uppercase;
  text-decoration: none;
}
div.content {
  background: transparent url(../images/background/content_highlight.jpg) no-repeat scroll 50% 0;
  margin-bottom: 20px;
  padding: 15px 20px;
  width:860px;
  min-height: 310px;
}
div.content.main {
  background: transparent url(../images/background/content_main.jpg) no-repeat scroll 50% 0;
  min-height: 390px;
}
div.tri_wrap_middle {
  background: transparent url(../images/background/content_highlight_middle.jpg) repeat-y scroll 50% 0;
  padding: 0;
  margin-bottom: 20px;
}
div.tri_wrap_upper {
  background: transparent url(../images/background/content_highlight_upper.jpg) no-repeat scroll 50% 0;
}
div.tri_wrap_lower {
  background: transparent url(../images/background/content_highlight_lower.jpg) no-repeat scroll 50% 100%;
  margin-bottom: 0;
}
div.body {
  width: 490px;
  margin-bottom: 20px;
}
div.column {
  width: 410px;
  margin-bottom: 20px;
}
div.callout {
  width: 290px;
  min-height: 240px;
  padding:  10px 20px;
  margin-bottom: 20px;
  height: 330px;
}
div.column.full {
  width: 100%;
}
div.left {
  margin-right: 20px;
}
div.right {
  margin-left: 20px;
}
div.callout.sponsers {
  background: none;
  min-height: 0;
  width: 250px;
  margin: 20px 0 20px 0;
  padding: 0;
  height: auto;
}
div.link_grid {
  float: right;
  width: 620px;
  padding: 0;
  margin: 30px -30px 0 0;
}

#content.home div.content.main {
  background: transparent url(../images/background/content_main_hack.jpg) no-repeat scroll 50% 0;
  margin-bottom: 0;
}
#content.home div.content.main hr {
  float: left;
  width: 100%;
  margin: 0;
}
#content.home div.callout.left {
  margin-bottom: 0;
}
#content.home div.callout.left a.button {
  margin-top: 5px;
}
#content.home div.deskman h2 {
  font-style: italic;
}
#content.home div.deskman p {
  font-size: 1.8em;
  font-style: italic;
}
#content.home div.pdf_links a {
  display: block;
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 5px;
}
#content.home div.pdf_links a strong {
  color: #002d56;
}
#content.news div.content a {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
#content.news div.content a img {
  float: left;
}
#content.news div.content a.first {
  margin-left: 0;
}
#content.news .article_viewer {
  position: absolute;
  top: 320px;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
}
#content.news.loading {
  background: transparent url(../images/icons/preloader_blk-wht_large.gif) no-repeat scroll 50% 400px;
}
#content.news .article_viewer .window {
  width: 100%;
  overflow: hidden;
  min-height: 400px;
}
#content.news .article_viewer .window img.large_article {
  float: left;
  position: relative;
  cursor: move;
}
#content.news .article_viewer .actions {
  width: 100%;
  padding: 10px 0;
}
#content.news .article_viewer .actions h3 {
  font-size: 2.4em;
  float: left;
  font-style: italic;
}
#content.news .article_viewer .actions h3 strong {
  padding: 0 10px 0 20px;
  font-size:0.8em;
}
#content.news .article_viewer .actions h3 a {
  display: inline-block;
  font-size:0.8em;
  line-height:1.1em;
  margin-right:6px;
  padding:0 5px 2px;
  background-color: #e7e7e7;
  font-style: normal;
  opacity: .7;
}
#content.news .article_viewer .actions h3 a:hover {
  background-color: transparent;
}
#content.news .article_viewer .actions h3 a.active {
  background-color: #d7d7d7;
  opacity: 1;
}
#content.news .article_viewer .actions img.close {
  cursor: pointer;
  float:right;
}
#content.partners .tri_wrap_lower {
  background-image: url(../images/background/content_highlight_lower_sponsers.jpg);
}
#content.partners .sponser_list p {
  float: left;
  margin-right: 80px;
}
#content.partners .sponser_list p.last {
  margin-right: 0;
}
#content.partners div.link_grid {
  margin: 6px -30px 0 0;
}
#content.portfolio div.column {
  cursor: pointer;
}
body.loading {
  background: transparent url(../images/icons/preloader_lue-wht_large.gif) no-repeat scroll 50% 150px;
}
.popin_gallery {
  width: 1028px;
  left: 50%;
  margin-left: -534px;
  overflow: hidden;
  padding: 5px;
  background-color: #fff;
  top: 20px;
  opacity: 0;
  border: 20px solid #005826;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.popin_gallery .wrapper {
  width: 100%;
  overflow: hidden;
}

.popin_gallery img.slider {
  position: absolute;
  top: 275px;
  opacity : .5;
  cursor: pointer;
}
.popin_gallery img.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  cursor: pointer;
}
.popin_gallery img.slider.disabled {
  opacity : .2 !important;
  cursor: default;
}

.popin_gallery img.slider.left {
  left: 0;
}
.popin_gallery img.slider.right {
  right: 0;
}
.popin_gallery .holder {
  width: 100000px;
  white-space: nowrap;
}
.popin_gallery .holder img {
  float: left;
  cursor: pointer;
}


.deskman p a.button {
  font-size: 0.9em;
}

*/


/*Start of the refactor CSS*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  color: white;
}

.main_div {
  margin: 0;
  padding: 0;
}

.font {
  color: white;
}

/*NAV STYLE STARTS*/
#main_nav {
  border-bottom: #244f26 8px solid;
  opacity: .9;
}

.nav-item {
  font-size: 1rem;
}


.oz_logo_nav {
  width: 10rem;
}

/*NAV STYLE ENDS*/

/*CAROUSEL STYLE STARTS*/
.carousel {
  border-top: #002D56 8px solid;
  width: 100%;
  height: 25rem;
  margin-top: 6.5rem;
  position: relative;
}

.carousel>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#carousel_img {
  object-fit: cover;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 400ms opacity ease-in-out;
}

.slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

/*CAROUSEL STYLE ENDS*/

/*INDEX HTML BODY STYLE STARTS*/
.container--oz {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.oz_mission_container {
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 70%;
  
}

.oz_mission_container--header {
  font-size: 5rem;
  margin-bottom: 2rem;

}

.oz_mission_container--p {
  font-size: 1rem;
 
}

.oz_mission_image {
  margin: 3rem;
  padding: 1rem;
  background-color: white;
  color: black;
  width: 30%;
  object-fit: contain;
  object-position: center;
}

.oz_mission_image--photo {
  opacity: .2;
}

.oz_blog {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

#oz_blog--photo {
  width: 10rem;
  margin: 1rem;
}

.oz_blog--header {
  text-align: center;
  margin: 1rem;
}

#oz_blog--button {
  text-align: center;
  margin: 2rem;
}

.oz_blog--text {
  font-size: .75rem;
  text-align: center;
  padding-bottom: 2rem;
}

.head_trainer--title {
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}

.head_trainer--header {
  font-size: 1rem;
  width: 100%;
}

.head_trainer--container {
  background-color: white;
  color: black;
  width: 100%;
  padding-top: 3rem;
}

.dawson {
  padding: 1.5rem;
}

.head_trainer--text {
  font-size: 1.25rem;
  padding: 2rem;
}

.head_trainer--button {
  margin: 2rem;
  text-align:center;
}
.candid_photo--container {
  display: flex;
  justify-content: space-evenly;
}

.candid_photo--1 {
  width: 20%;
  margin: 1.25rem;
}

.sale_horse--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.sale_horse--title {
  font-size: 2rem;
  margin: 2rem;
}

.sale_horse--text {
  font-size: 1.25rem;
  align-items: center;
}

.sale_horse--p {
  text-align: center;
}

.sale_horse--button {
  margin: 1.5rem;
}

.quote {
  text-align: center;
  font-size: 1rem;
  padding: 3rem;
}

.sponsors {
  background-color: white;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.sponsors_container--header {
  font-size: 3rem;
  margin-right: 2rem;
  background-color: white;
  color: black;
}

.sponsors_container--text {
  font-size: 1rem;
  background-color: white;
  color: black;
  padding: 1rem;
}

#sponsor--logo-1 {
  width: 10rem;
  padding: 2rem;
}

#sponsor--logo-2 {
  width: 20rem;
  padding: 2rem;
}

/*INDEX HTML BODY STYLE ENDS*/

/*THE_FARM BODY STYLE STARTS*/
.farm--top-image {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: 60%;
  margin-top: 6.5rem;
  position: relative;
  border-bottom: 10px solid #244f26;
}

.farm--header {
  font-size: 5rem;
  margin: 2rem 1rem 2rem 1rem;
}

.farm--second-header {
  font-size: 3rem;
}

.farm--div {
  margin: 2rem;
}

.farm--image {
  width: 30rem;
  height: auto;
  padding: 1rem;
}

.farm--text {
  padding: 2rem;
  font-size: 1.25rem;
}

.coursel_container {
  border-top: #002D56 8px solid;
  width: 100%;
  height: 70%;
  position: relative;
  margin-top: 2rem;
}

.tour--container {
  background-color: white;
  color: #002D56;
  padding: 3rem;
}

.tour--title {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

/*THE_FARM BODY STYLE ENDS*/

/*OUR_TEAM STYLE STARTS*/
.our_team--header-container {
  padding: 1.5rem;
}

.our_team--header {
  font-size: 5rem;
}

.our_team--header-text {
  font-size: 1rem;
  color: #002D56;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.our_team--shelley-title {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}

.our_team--shelley-text {
  font-size: 1rem;
  padding: 2rem;
}

.our_team--shelley-photo {
  padding: 2rem;
  width: 35rem;
  height: auto;
}

.our_team--main {
  background-color: white;
}

.our_team--staff-container {
  background-color: white;
  padding: 1.5rem;
  border-bottom: 1px solid grey;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.our_team--staff-div {
  padding: 1rem;
}

.our_team--staff-header {
  color: #002D56;
  background-color: white;
  font-size: 3rem;
  text-align: center;
  padding-top: 4rem;
}

.our_team--staff-photo {
  width: 30rem;
  border: 2px solid #002D56;
  padding: 1rem;
  height: auto;
}

.our_team--staff-title {
  color: #002D56;
  font-size: 2rem;
  text-align: center;
}

.our_team--staff-position {
  color: #002D56;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.our_team--staff-text {
  color: #002D56;
  font-size: 1rem;
  text-align: center;
}

/*OUR_TEAM STYLE ENDS*/

/*HORSE_CARE STYLE STARTS*/
.horse_care--top-image {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: 60%;
  margin-top: 6.5rem;
  position: relative;
  border-bottom: 10px solid #244f26;
}

.horse_care--header {
  font-size: 5rem;
}

.horse_care--title {
  font-size: 2rem;
  text-align: center;
}

.care--main {
  padding: 0rem;
  border-bottom: 20px solid #244f26;
}

.care_photo {
  width: 25rem;
  padding: 2rem;
}

.care--text {
  font-size: 1rem;
  width: 60%;
  padding: 2rem;
}

.care--transport-title {
  text-align: center;
  font-size: 2rem;
  padding-top: 4rem;
}

.care--transport-text {
  font-size: 1rem;
  padding: 1rem;
}

.horse_care--list {
  width: 80%;
}

.horse_care--text {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.horse_care--training-container {
  background-color: white;
  color: #002D56;
  font-size: 1.25rem;
  padding: 5rem;
  border-bottom: 20px solid #244f26;
}

.horse_care--title {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
}

.horse_care--leo-div {
  display: flex;
  justify-content: center;
}

.horse_care--leo {
  width: 40rem;
  margin-bottom: 2rem;
}

.horse_care--li {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.horse_care--logo-div {
  text-align: center;
  margin: 1.5rem;
}

.horse_care--logo {
  width: 5rem;

}

.horse_care--training {
  padding: 3rem;
}

.horse_care--training-photo {
  width: 20rem;
}

.horse_care--training-title {
  font-size: 2rem;
  padding: 1rem;
}

.horse_care--training-list {
  padding: 2rem;
  margin-bottom: 8rem;
  text-align: center;
}

/*HORSE_CARE STYLE ENDS*/

/*PORTFOLIO DESIGN STARTS*/
.portfolio--title {
  font-size: 5rem;
  margin: 1rem;
}

.portfolio--opening-text {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.portfolio_container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.portfolio_picture {
  width: 30rem;
  border: 3px solid white;
  margin: 2rem 2rem 0rem 2rem;
  ;
}

.portfolio_name {
  font-size: 1.5rem;
  text-align: center;
}



/*PORTFOLIO DESIGN ENDS*/


/*FOOTER STYLE STARTS*/
#footer {
  background-color: white;
  color: #002D56;
  border-top: #244f26 solid 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
}

.footer-content {
  margin: 50px;
  text-align: center;
}

.footer-content-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-logo {
  width: 4rem;
  align-self: center;
  height: auto;
}

.footer-content-title--address {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.footer-content--name {
  padding: .5rem;
}

.footer-div--logo {
  border-top: #002D56 solid 20px;
  text-align: center;
  padding-top: 1rem;
}

#footer-logo {
  height: 7rem;
  margin: 2rem;
}

.bottom-footer {
  background-color: #244f26;
  color: #fff;
  text-align: center;
  padding-top: 1.5rem;
  font-size: .75rem;
}

.rosepetallogo {
  width: 15rem;
}

/*FOOTER STYLE ENDS*/

.divider {
  width: 45rem;
}

.divider_div {
  text-align: center;
}

.divider_white {
  width: 45rem;
}

.divider_white_top {
  width: 50rem;
}

.oz_logo {
  width: 5rem;
  text-align: center;
}

.oz_logo--div {
  text-align:center;
  margin-bottom: 3rem;
}



.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}


/*MEDIA QUERIES FOR SMALLER DESKTOPS AND SREENS*/
@media screen and (max-width: 990px) {
  /* #main-nav {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  } */

  body {
    padding: auto;
  }

  .container--oz {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .oz_mission_container--header {
    justify-content: center;
    text-align: center;
  }

  .oz_mission_container {
    text-align: center;
    width: 40rem;
  }

  .oz_blog {
    display: flex;
    flex-direction: column;
  }

 #oz_blog--photo {
  width: 10rem;
 }

  .head_trainer--container {
    justify-content: space-evenly;
    display: flex;
  }

  .head_trainer--button {
    text-align: center;
  }
  .head_trainer--image {
    padding-top: 80px;
    width: 50%;
  }

  .head_trainer--text {
    width: 50%;
  }

  .sponsors {
    flex-direction: column;
    width: 100%;
  }

  .sponsors_container--header {
    justify-content: space-around;
    width: 100%;
  }

  .sponsors_container--text {
    justify-content: space-around;
    width: 100%;
  }

  .portfolio_container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .portfolio_div {
    margin: 2rem;
  }

  .portfolio_picture {
    width: 30rem;
  }

  .our_team--shelley-container {
    flex-direction: column-reverse;
  }

  .our_team--staff-container {
    flex-direction: column;
    padding: 3rem;
  }

  .farm--div {
    flex-direction: column;
  }

  .farm--div-mid {
    flex-direction: column-reverse;
  }

  .care--main {
    flex-direction: column-reverse;
    text-align: center;

  }

  .care_photo {
    width: 40rem;
  }

  .horse_care--main-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .divider_white {
    width: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .oz_mission_container {
    width: 30rem;
  }

  .dawson {
    width: 30rem;
  }  

  .head_trainer--container {
    flex-direction: column;
  }

  .portfolio_picture {
    width: 25rem;
    margin-left: auto;
  }

  .head_trainer--text {
    width: 30rem;
  }

  .head_trainer--title {
    text-align: center;
  }

  #sponsor--logo-2 {
    width: 15rem;
  }

  .candid_photo--1 {
    width: 20rem;
  }

  .candid_photo--container {
    flex-direction: column;
    align-items: center;
  }

 .our_team--staff-container {
  padding: .5rem;
 }

  .horse_care--leo {
    width: 20rem;
  }

  .care_photo {
    width: 25rem;
  }

  .footer-div {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {

  .oz_mission_container {
    width: 18rem;
    margin: 0rem;
  }

  .oz_mission_container--header {
    font-size: 3rem;
  }

  #oz_blog--photo {
    width: 10rem;
  }

  .head_trainer--container {
    flex-direction: column;
    width: 100%;
  }

  .head_trainer--text {
    justify-content: center;
    width: 100%;
  }

  .dawson {
    width: 20rem;
  }

  .candid_photo--1 {
    width: 15rem;
  }

  .sponsors_container--header {
    width: 10rem;
  }

  .our_team--shelley-photo {
    width: 20rem;
  }

  .our_team--staff-photo {
    width: 20rem;
  }

  .our_team--header-container {
    flex-direction: column;
  }

  .our_team--header {
    width: 20rem;
    font-size: 4rem;
    text-align: center;
  }

  .our_team--shelley-title {
    font-size: 2.5rem;
  }
  .our_team--header-text {
    margin: 1rem;
  }

  .farm--image {
    width: 20rem;
  }

  .horse_care--training-description {
    width: 15rem;
  }

  .horse_care--text {
    flex-direction: column;
  }

  .care_photo {
    width:20rem;
  }

  .horse_care--leo {
    width: 15rem;
  }

  .horse_care--training-photo {
    width: 15rem;
  }

  .divider_white {
    width: 15rem;
  }
  /*MEDIA QUERIES FOR PORTFOLIO*/
  .portfolio_picture {
    width: 20rem;
    margin: auto;
  }

  .footer-div {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .footer-content {
    justify-content: center;

  }



}

@media screen and (max-width: 300px) {
 .oz_mission_container {
  width: 15rem;
 }

 .oz_mission_container--header {
  width: 15rem;
 }
 
  .dawson {
    width: 15rem;
  }

  .oz_blog {
    width: 10rem;
  }

  #oz_blog--photo {
    width: 10rem;
  }

  .candid_photo--1 {
    width: 15rem;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
  }

  .portfolio_picture {
    width: 15rem;
    margin-left: auto;
  }

  .our_team--header {
    width: 15rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .our_team--header-text {
    margin: 1rem;
    width: 15rem;
  }

  .our_team--shelley-photo {
    width: 15rem;
  }

  .our_team--staff-photo {
    width: 15rem;
  }

  .care_photo {
    width:15rem;
  }

  .horse_care--leo {
    width: 15rem;
  }

  .horse_care--training-photo {
    width: 10rem;
  }

  .divider_white {
    width: 15rem;
  }

  #footer-logo {
    width: 10rem;
  }
}